body {
  background: #e67e22;
}

h1 {
  padding-top: 5px;
  text-align:center;
  color: #2ecc71;
  font-size: 3em;
  font-family: Helvetica, arial;
}

table td {
  width: 5px;
  height: 5px;
  padding: 1px;
}

table {
  margin: 2% auto;
}

.alive {
  background: #2ecc71;
  border-radius: 90%;
}

.dead {
  background: #e67e22;
}

.buttons {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.buttons input {
  background: #2ecc71;
  border: none;
  border-radius: 15px;
  font-size: 1.5em;
  padding: 10px;
  color:#e67e22;
  font-weight: bold;
  text-align: center;
}
